.main-app-grid {
    display:grid;
    grid-template-rows: 1fr 13fr 1fr;
    height:100%;
}
.main-header, .main-footer {
    background-color:#ccc;
}
.main-content {
    background-color: #fff;
    width: 90%;
    margin:0 auto;
}